[core]
	excludesfile = /Users/oto/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = oto(김보미)
	email = oto.kim@bunjang.co.kr
[commit]
	template = /Users/oto/.stCommitMsg
	verbose = true
[credential]
	helper = osxkeychain
[pretty]
	one = %C(bold red)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(cyan)<%an>%C(reset)%C(bold yellow)%d%C(reset)
[alias]
	st = status
	df = diff
  ck = checkout
  cp = cherry-pick
  rb = rebase
  cm = commit
  rs = reset
	amend = commit --amend
	lg = log --graph --abbrev-commit --decorate --date=relative --format=one --all --date-order
	ls = !git lg \
	  | fzf -m --ansi --layout=reverse --preview=\"echo {} \
	  | sed 's/-.*$//' \
	  | egrep -o '[0-9a-f]+' \
	  | xargs git show --color=always\" \
	  | sed 's/-.*$//' \
	  | egrep -o '[0-9a-f]+'
	lsb = !git branch \
	    | fzf --preview 'echo {} | cut -c3- | xargs git show --color=always' --height 90% \
	    | cut -c3-
